{% extends 'base.html' %}

{% block menu %}
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="{% url 'task_add' %}">+ добавить задачу</a>
  </li>
{% endblock %}

{% block content %}
{% if tasks %}
{% for task in tasks %}
<div class="card mb-3">
    <div class="card-body">
      <a href="{% url 'task_detail' task.pk %}"><h5 class="card-title">{{task.description}}</h5></a>
      <p class="card-text">Дата выполнения: {{task.date_deadline}}</p>
      <p class="card-text"><small class="text-muted">Статус: <strong>{{task.status}}</strong></small></p>
      <p><a href="/task/{{task.id}}">подробнее</a> | <a href="{% url 'task_edit' task.pk %}">редактировать</a> | <a href="{% url 'task_del' task.pk %}">удалить</a></p>
    </div>
  </div>
{% endfor %}

{% else %}
<h1>Вы не создали еще ни одной задачи!</h1>
<p><a href="add/">Добавить новую задачу</a></p>
{% endif %}
{% endblock %}