{% extends 'base.html' %}
{% block title %}
    Tasks delete
{% endblock %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'task_add' %}">+добавить задачу</a>
</li>
{% endblock %}

{% block content %}
<div class="card mb-3 mt-4">
    <div class="card-body">
      <h4 class="card-title">Выберете задачи, которые хотитие удалить:</h4>
      <form class="m-4" action="{% url 'tasks_del_confirm' %}" method="post">
        {% csrf_token %}
        {% for task in tasks %}
        <div class="form-check">
            <input name="tasks" class="form-check-input" type="checkbox" value="{{ task.pk }}" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              {{ task.description }}
            </label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary ms-2 ps-3 pe-3 mt-4">Удалить</button>
      </form>
    </div>
</div>
<p class="mt-4 ms-2"><a href="{% url 'index' %}">вернуться на главную</a></p>
{% endblock %}