{% extends 'base.html' %}

{% block title %}
    Task create
{% endblock %}

{% block content %}
<h1 class="m-3">Создание новой задачи: </h1>
<form class="m-3" action="{% url 'task_add' %}" method="POST">
    {% csrf_token %}
    <div class="input-group mt-4 mb-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Описание: </span>
        <input required placeholder="Введите описание задачи" name="description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="form-floating mb-4">
        <textarea style="height:150px" class="form-control" id="floatingTextarea" name="detail_description"></textarea>
        <label for="floatingTextarea">Подробное описание:</label>
    </div>
    <div class="input-group mb-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Дата выполнения: </span>
        <input placeholder="Введите дату в формате: YYYY-mm-dd или оставьте пустым" name="date_deadline" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    {% for choice in choices %}
    <div class="form-check ms-2">
        
        <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" value="{{ choice.0}}">
        <label class="form-check-label" for="flexRadioDefault1">
        {{choice.1}}
        </label>
        
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary ms-2 ps-3 pe-3 mt-4">Создать</button>
</form>
<p class="mt-4 ms-2"><a href="{% url 'index' %}">вернуться на главную</a></p>
{% endblock %}


