{% extends 'base.html' %}
{% block title %}
    Tasks delete
{% endblock %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'task_add' %}">+добавить задачу</a>
</li>
{% endblock %}


{% block content %}
<div class="card mb-3 mt-4">
    <div class="card-body">
      <h2 class="m-5">Вы точно хотите удалить следующие задачи?</h2>
      {% for task in tasks %}
      <p class="ms-4">{{ task.description }}</p>
      {% endfor %}
      <form action="{% url 'tasks_del_confirm' %}" method="post">
        {% csrf_token %}
        <p style="text-align: center;">
            <input type="hidden" name="confirm" value="1">
            <button type="submit" class="btn btn-danger ms-2 p-3 mt-4">Удалить</button>
            <a href="{% url 'index' %}" class="btn btn-success ms-2 mt-4 p-3">Отменить</a>
        </p> 
      </form>
    </div>
</div>
<p class="mt-4 ms-2"><a href="{% url 'index' %}">вернуться на главную</a></p>
{% endblock %}